<title>{{ title }}</title>
<h3 class="header-style">Brewery Details</h3>
<div class="container-fluid">
  <form [formGroup]="newForm">
    <div class="form-group">
      <label>City Name</label>
      <input type="text" class="form-control" formControlName="fieldVal" />
      <button class="btn btn-primary" type="submit" (click)="onSearch()">
        Search
      </button>
    </div>
  </form>
</div>

<div class="container-fluid" style="white-space: pre">
  <table>
    <tr>
      <th>Name</th>
      <th>Brewery Type</th>
      <th>Address</th>
      <th>City</th>
      <th>State Province</th>
      <th>Postal Code</th>
      <th>Country</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Phone</th>
      <th>Website URL</th>
      <th>State</th>
      <th>Street</th>
    </tr>
    <tr *ngFor="let brewery of breweries">
      <td>{{ brewery.name }}</td>
      <td>{{ brewery.brewery_type }}</td>
      <td>{{ brewery.address_1 }}</td>
      <td>{{ brewery.city }}</td>
      <td>{{ brewery.state_province }}</td>
      <td>{{ brewery.postal_code }}</td>
      <td>{{ brewery.country }}</td>
      <td>{{ brewery.longitude }}</td>
      <td>{{ brewery.latitude }}</td>
      <td>{{ brewery.phone}}</td>
      <td style="color: blue; text-decoration: underline">
        <a href="https://i.redd.it/ucv34e0c4q061.png">{{ brewery.website_url }}</a>
      </td>
      <td>{{ brewery.state }}</td>
      <td>{{ brewery.street }}</td>
    </tr>
  </table>
</div>
