<h1 class="header-style">Brewery List</h1>

<div class="container">
  <div class="row justify-content-center">
    <form class="form-inline d-flex justify-content-center align-items-center" [formGroup]="newForm">
      <input type="text" class="form-control mb-2 mr-sm-2" formControlName="fieldVal" placeholder="Enter City Name">
      <button type="submit" class="btn btn-primary mb-2" (click)="onSearch()">Search</button>
    </form>
  </div>
</div>

<div *ngIf="breweries.length > 0; else noData">
  <table class="table table-bordered table-hover">
    <thead class="text-center table-warning">
      <tr>
        <th>Name</th>
        <th>Brewery Type</th>
        <th>Address</th>
        <th>City</th>
        <th>State Province</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Website URL</th>
        <th>State</th>
        <th>Street</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brewery of breweries">
        <td>{{ brewery.name }}</td>
        <td>{{ brewery.brewery_type }}</td>
        <td>{{ brewery.address_1 }}</td>
        <td>{{ brewery.city }}</td>
        <td>{{ brewery.state_province }}</td>
        <td>{{ brewery.postal_code }}</td>
        <td>{{ brewery.country }}</td>
        <td>{{ brewery.phone}}</td>
        <td style="color: blue; text-decoration: underline">
          <a [href]="brewery.website_url">{{ brewery.website_url }}</a>
        </td>
        <td>{{ brewery.state }}</td>
        <td>{{ brewery.street }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <div id="noDataContent" class="d-flex justify-content-center align-items-center text-center">
    <p class="m-0">{{ noDataMessage }}</p>
  </div>
</ng-template>

<footer>
  <p>External API used for this Project: <a class="link-reference" href="https://openbrewerydb.org">Open Brewery DB</a></p>
  <img src="https://www.openbrewerydb.org/obdb-og.png"  alt="Open Brewery DB"/>
</footer>


